<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style/style.css">
    <title>cwiczenie 01</title>
</head>

<body>

    {{{body}}}

</body>

</html>